{% extends "base.html" %}

{% block title %} Features{% endblock title %}

{% block header %}

<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <header class="mb-4 flex items-center justify-between py-4 md:py-8">
        <!-- logo - start -->
        <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
          {% include "logo.html" %} 
        </a>
        <!-- logo - end -->
  
        <!-- nav - start -->
         <!-- nav - start -->
        <nav class="hidden gap-12 lg:flex">
          <a href="/" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Home</a>
          <a href="{% url 'myapp:features' %}" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Features</a>
          <a href="{% url 'myapp:about' %}" class="text-lg font-semibold text-indigo-500">About</a>
        </nav>
        <!-- nav - end -->
  
        <!-- buttons - start -->
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Log Out</button>
        </form>
        
        {% else %}
        <a href="{% url 'login' %}" class="hidden rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base lg:inline-block">Sign in</a>
        {% endif %}
  
  
        <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
  
          Menu
        </button>
        <!-- buttons - end -->
      </header>
    </div>
  </div>
  <!-- hero - end -->

{% endblock header  %}







{% block content %}

<div class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-8 lg:px-16">
      <div class="mb-12 text-center">
        <h2 class="text-4xl font-extrabold text-gray-800 leading-tight mb-6 lg:text-5xl">About TopG - Your Technical Portal</h2>
        <p class="text-gray-600 mx-auto max-w-screen-md lg:text-lg">
          Welcome to TopG, your ultimate destination for all things tech! Explore the boundless world of technology with us, where innovation meets knowledge, and passion fuels creativity.
        </p>
      </div>
  
      <div class="grid gap-12 lg:grid-cols-2">
          <!-- Services Offered - start -->
        <div class="lg:col-span-2 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Services We Offer</h3>
            
            <div class="grid gap-4 md:grid-cols-2">
            <!-- Web Design -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">Web Design</h4>
                <p class="text-gray-700">
                Elevate your online presence with our professional web design services. Our team of skilled designers crafts visually appealing and user-friendly websites tailored to meet your specific needs.
                </p>
            </div>
        
            <!-- App Development -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">App Development</h4>
                <p class="text-gray-700">
                Turn your app ideas into reality with our expert app development services. From concept to deployment, we guide you through the entire development process, ensuring a seamless and feature-rich application.
                </p>
            </div>
        
            <!-- UI/UX Design -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">UI/UX Design</h4>
                <p class="text-gray-700">
                User experience is at the heart of our UI/UX design services. We create intuitive and visually appealing interfaces that enhance user engagement and satisfaction, making your digital products stand out.
                </p>
            </div>
        
            <!-- Software Development -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">Software Development</h4>
                <p class="text-gray-700">
                Leverage our expertise in software development to build robust and scalable solutions. Whether it's custom software or enterprise-level applications, we deliver high-quality solutions tailored to your requirements.
                </p>
            </div>
        
            <!-- IT Consulting -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">IT Consulting</h4>
                <p class="text-gray-700">
                Gain strategic insights and expert advice with our IT consulting services. We assess your technology needs, provide tailored recommendations, and help you implement solutions that drive business success.
                </p>
            </div>
        
            <!-- Digital Marketing -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">Digital Marketing</h4>
                <p class="text-gray-700">
                Enhance your online presence and reach a wider audience with our digital marketing services. From SEO and social media management to content marketing, we develop strategies to boost your brand's visibility.
                </p>
            </div>
        
            <!-- Cybersecurity Solutions -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">Cybersecurity Solutions</h4>
                <p class="text-gray-700">
                Safeguard your digital assets with our comprehensive cybersecurity solutions. We assess vulnerabilities, implement robust security measures, and provide ongoing support to protect your data and systems.
                </p>
            </div>
        
            <!-- Emerging Technologies -->
            <div class="bg-white rounded-lg p-4 border border-gray-200">
                <h4 class="text-xl font-semibold mb-2 text-indigo-600">Emerging Technologies</h4>
                <p class="text-gray-700">
                Stay ahead in the tech landscape with our expertise in emerging technologies. Whether it's blockchain, AI, or IoT, we help you harness the power of cutting-edge innovations for your business growth.
                </p>
            </div>
            </div>
        </div>
        <!-- Services Offered - end -->

        <!-- Overview - start -->
        <div class="lg:col-span-1 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Our Mission</h3>
            <p class="text-gray-700">
            At TopG, our mission is to empower individuals with knowledge and insights into the latest technological advancements. We strive to create a dynamic platform that fosters learning, collaboration, and innovation.
            </p>
        </div>
        <!-- Overview - end -->
        
        <!-- Team - start -->
        <div class="lg:col-span-1 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Our Team</h3>
            <p class="text-gray-700">
            Behind every line of code and every piece of content is a dedicated team of tech enthusiasts at TopG. Our diverse group of experts collaborates to bring you curated and valuable resources, ensuring a rich and engaging experience on our platform.
            </p>
        </div>
        <!-- Team - end -->
        
        <!-- Vision - start -->
        <div class="lg:col-span-2 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Our Vision</h3>
            <p class="text-gray-700">
            We envision a future where technology is accessible to all, and individuals can leverage its power to drive positive change. TopG aims to be a catalyst for this vision by providing a comprehensive resource hub for tech enthusiasts, beginners, and experts alike.
            </p>
            <p class="text-gray-700">
            Our commitment is to be a leading platform that empowers individuals to explore, learn, and excel in the ever-evolving world of technology.
            </p>
        </div>
        <!-- Vision - end -->
        
        <!-- Values - start -->
        <div class="lg:col-span-2 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Our Values</h3>
            <p class="text-gray-700">
            Integrity, innovation, and inclusivity are at the core of our values at TopG. We are committed to delivering accurate and up-to-date information, fostering a culture of continuous learning, and ensuring that our platform is welcoming to individuals from all walks of life.
            </p>
        </div>
        <!-- Values - end -->
        
        <!-- Community Engagement - start -->
        <div class="lg:col-span-1 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Community Engagement</h3>
            <p class="text-gray-700">
            TopG actively engages with its community through forums, webinars, and collaborative projects. Our goal is to create a vibrant and supportive community where individuals can connect, share ideas, and learn from each other.
            </p>
        </div>
        <!-- Community Engagement - end -->
        
        <!-- Technology Focus - start -->
        <div class="lg:col-span-1 hover:bg-gray-200 transition duration-300 rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4 text-indigo-600">Technology Focus</h3>
            <p class="text-gray-700">
            Our portal at TopG covers a wide array of technological domains, including programming languages, web development, artificial intelligence, cybersecurity, and more. We strive to keep our audience updated with the latest trends and best practices in the tech industry.
            </p>
            <p class="text-gray-700">
            Explore our platform to stay ahead in the ever-evolving world of technology.
            </p>
        </div>
        <!-- Technology Focus - end -->
  
      </div>
    </div>
  </div>
  
  
  
  
{% endblock %}
