{% extends "base.html" %}
{% block content %}

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">  
      <form method="POST" class="mx-auto max-w-xl rounded-xl border p-7">
        {% csrf_token %}
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">Join Room</h2>
        <div class="flex flex-col gap-4 p-4 md:p-8 border-t-2">
          <div>
            <label for="roomID" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">RoomID</label>
            <input name="roomID" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
          </div>  
          <button class="flex items-center justify-center gap-2 rounded-lg bg-blue-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-blue-300 transition duration-100 hover:bg-blue-600 focus-visible:ring active:bg-blue-700 md:text-base">
            Join
          </button>
      </form>
    </div>
</div>

{% endblock %}
