{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container mx-auto">
    {% if validlink %}
        <h1 class="text-2xl font-bold mb-4">Reset your password</h1>
        <p class="text-indigo-500 ">Please enter your new password twice:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-center"> <!-- Added flex and justify-center -->
                <button type="submit" class="mt-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
            </div>
        </form>
    {% else %}
        <div class="flex flex-row items-center">
            <img src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Invalid link" class="w-1/3 mx-auto rounded-full" />
            <p class="text-red-500 font-bold items-center">The password reset link was invalid, possibly because it has already been used. <br> Please request a new password reset.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
