{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
    <h1 class="text-4xl text-gray-800 font-semibold mb-6">Password Reset</h1>

    <p class="text-gray-600 mb-4">
        Forgot your password? No worries! Enter your email address below, and we'll send you instructions on how to reset it.
    </p>

    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md focus:outline-none">
            Reset Password
        </button>
    </form>

    <div class="py-5 border-t border-gray-200 mt-5 text-center">
        <p class="text-sm text-gray-600">Remember your password? 
            <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log In</a>
        </p>
    </div>
</div>

{% endblock content %}
