{% extends 'base.html' %}
{% block title %}reset-done{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Password Reset Email Sent</h2>
          </div>
          <div class="card-body">
            <p class="text-center">We have sent you an email containing instructions on how to reset your password. Please follow the steps provided in the email to regain access to your account.</p>
            <p class="text-center">If you do not receive the email within a few minutes, please check your spam folder. Sometimes emails can be mistakenly filtered as spam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
