{% extends "base.html" %}

{% block content %}
  
    <div class="max-w-md mx-auto py-12 px-6">
        <h1 class="text-3xl font-bold text-blue-600 mb-6">Password Reset Complete</h1>

        <p class="text-gray-700 leading-7">Congratulations! You have successfully reset your password.</p>
        <p class="text-gray-700 leading-7">You can now securely access your account by clicking <a href="{% url 'login' %}" class="text-blue-600">here</a> to login.</p>

        <div class="mt-8">
            <p class="text-gray-600 leading-6">Thank you for choosing our platform. If you have any questions or need further assistance, feel free to reach out to our support team.</p>
            <p class="text-gray-600 leading-6">Best regards,</p>
            <p class="text-gray-600 leading-6">Gulrez Alam</p>
        </div>
    </div>

{% endblock content %}
