{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Password Reset Email Sent</h2>
          </div>
          <div class="card-body">
            <p class="text-center">We've emailed you instructions for setting your password.</p>
            <p class="text-center">If you don't receive the email, please check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
