{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title> {% block title %} Hello TopG {% endblock  %} </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" style="border-radius: 50%;">


</head>
<header>
    {% block logo %}{% endblock logo %}
    {% block header %}
      {% include "header.html" %}
    {% endblock %}
</header>
<body>
    <main>
        <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                 {% block content %} {% endblock %}
            </div>
        </div>
    </main>

</body>

<footer class="sticky top-[100vh]">
    {% include "footer.html" %}
</footer>

</html>
