<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <header class="mb-4 flex items-center justify-between py-4 md:py-8">
        <!-- logo - start -->
        <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
          {% include "logo.html" %}

        </a>
        <!-- logo - end -->
  
        <!-- nav - start -->
         <!-- nav - start -->
        <nav class="hidden gap-12 lg:flex">
          <a href="/" class="text-lg font-semibold text-indigo-500">Home</a>
          <a href="{% url 'myapp:features' %}" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Features</a>
          <a href="{% url 'myapp:about' %}" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
        </nav>
        <!-- nav - end -->
  
        <!-- buttons - start -->
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Log Out</button>
        </form>
        
        {% else %}
        <a href="{% url 'login' %}" class="hidden rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base lg:inline-block">Sign in</a>
        {% endif %}
  
  
        <!-- Your button to toggle the sidebar -->
        {% include "buttonsidebar.html" %}

        <!-- buttons - end -->
      </header>
    </div>
  </div>
  <!-- hero - end -->

  